/**
 * All styles related to markup inside the header
 */

header {
    width: 100%;
    margin: 1rem 0 2rem 0;
    
}

.header-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: max-content;
    margin: 1rem 0 2rem 0;
    @include breakpoint($break_medium-portfolio) {
        grid-template-columns: 6% auto 6%;
    }
    .name {
        grid-row-start: 1;
        grid-column-start: 2;
    }
    .city {
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .header-sub-container {
        grid-row-start: 3;
        grid-column-start: 2;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: .5rem;
        .contact, .social {
            margin: 0 1rem;
            @include breakpoint($break_small) {
                margin: 0 .75rem;
            }
        }
    }
    .browse-container {
        grid-row-start: 1;
        grid-column-start: 2;
    }
}

.contact {
    display: inline-block;
    margin: 0 2rem .5rem 0;
    @include breakpoint($break_small) {
        margin-right: 1.5rem;
    }
}

.social {
    display: inline-block;
	text-align: right;
	a {
		margin: 0 .5rem;
	}	
}