/**
 * Variables to be used throughout the project
 */

// Fonts
$font-main: "ministry", Helvetica, Arial, sans-serif;
$font-secondary: "ministry", Helvetica, Arial, sans-serif;

// Font
$font-base: 16px;

// <hr> color
$hr-color: #ccc;

// Text selection background color
$selection-color: #b3d4fc;

// Text Color
$main-color: #222;
$color_beige: rgb(226, 230, 238);
$color_bg-blue: rgb(118, 199, 242);
$color_cobalt: rgb(32, 82, 200);
$color_echo-blue: rgb(147, 162, 212);
$color_bali-hai: rgb(126, 152, 238);
$color_midnight-blue: #0019a2;

//Breakpoint
$break_small: 0px 500px;
$break_small-grid: 0px 700px;
$break_small-portfolio: 0px 750px;
$break_medium: 0px 900px;
$break_medium-portfolio: 0px 1000px;